<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wierzba.james.liftlog" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewLift"
            android:label="@string/title_activity_add_lift"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wierzba.james.liftlog.MainActivity" />
        </activity>
        <activity
            android:name=".BrowseSessions"
            android:label="@string/title_activity_browse_sessions" >
        </activity>
        <activity
            android:name=".ViewSession"
            android:label="@string/title_activity_view_session" >
        </activity>
    </application>

</manifest>
